body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: $m-size;
  background-color: $dark-blue;
}

button {
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
